
// header styles
.site-header {
    display: flex;
    position: relative;
    margin: $margin auto;
   
    .menu-toggle, .site-branding {
        flex: 1;
    }

    .site-title a {
        @include plain-link;
        font-family: $font__header;
        font-size: $font-xlarge;
        color: $color__text-color-dark-grey;
        padding: $padding 0;
        transition: all 300ms ease;
        text-transform: capitalize;
        font-weight: 500;

        display: inline-block;
        text-decoration: none;
        color: $color__text-color-dark-grey;
        padding-bottom: 7.5px;
        position: relative;
        background-image: linear-gradient($color__orange-highlight, $color__orange-highlight);
        background-size: 25px 3px, auto;
        background-repeat: no-repeat;
        background-position: center bottom;
        transition: all 300ms ease-out;
        &:hover {
            background-size: 100% 3px, auto;
        }
    }

    .site-title a:hover {
        color: $color__text-color-light-grey;
    }
}


@media screen and (min-width: $size__phone-landscape) {
    .site-header {
        align-items: center;
    }
}