// main site layout
.site {
    width: 100%;
    min-height: 100vh;
    background-color: $color__background-body;
}

// header styles
.site-header {
    display: flex;
    margin: $margin;
    position: relative;
   
    .menu-toggle, .site-branding {
        flex: 1;
    }

    .site-title a {
        @include plain-link;
        font-family: $font__header;
        font-size: $font-xlarge;
        color: $color__text-color-dark-grey;
        padding: $padding;
    }    
}

// content area styles
.site-content {
    margin: $margin;
    
}


@media screen and (min-width: $size__phone-landscape) {
} // end media query phone-landscape

@media screen and (min-width: $size__tablet-landscape) {
    .site-header .site-title a {
        font-size: $font-xxlarge;
    }
}

@media screen and (min-width: $size__destktop-regular) {
    .site-header {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    }
}



