// main site layout
.site {
    width: 100%;
    min-height: 96vh;
    margin-top: 0;
    background-color: $color__background-body;
    position: relative;
}

// header styles
.site-header {
    display: flex;
    margin: $margin;
    position: relative;
   
    .menu-toggle, .site-branding {
        flex: 1;
    }

    .site-title a {
        @include plain-link;
        font-family: $font__header;
        font-size: $font-xlarge;
        color: $color__text-color-dark-grey;
        padding: $padding 0;
        transition: all 300ms ease;
    }

    .site-title a:hover {
        color: $color__text-color-light-grey;
    }
}

// content area styles
.content-area {
    margin: 0 $margin;
    // min-height: 60vh;

    .entry-content p {
        color: $color__text-color-dark-grey;
        font-family: $font__header;
        font-size: $font-xlarge;
        font-weight: 500;
        line-height: 1.2;
    }

    .entry-content .home-cta-text {
        margin-top: $margin;

        a {
            @include plain-link;
            background-color: $color__orange-highlight;
            padding: $padding/2 $padding*2;
            font-size: $font-small;
            font-weight: 600;
            color: white;
            border-radius: 20px;
            transition: all 300ms ease;
        }

        a:hover {
            background-color: $color__orange-hover;
        }
    }
    
}

// content-area for "work" page styles

.content-area {
    margin-bottom: 200px;
}

.project-container {
    margin: $margin auto $margin*4 auto;
    
    .project-thumbnail {
        transition: all 400ms ease-in-out;
    }

    .entry-title {
        margin-bottom: 0;
        font-size: $font-medium;
        font-family: $font__header;
        text-transform: uppercase;
        color: $color__text-color-dark-grey;
        transition: all 300ms ease;
    }

    .short-description {
        font-family: $font__body;
        font-size: $font-xsmall;
        color: $color__text-color-dark-grey;
        line-height: $font__line-height-body;
    }

    .project-link {
        font-family: $font__header;
        font-size: $font-xxsmall;
        font-weight: 500;
        margin-top: $margin;
        
        a {
          @include plain-link;
          padding: $padding/2 $padding;
          color: white;
          background-color: $color__orange-highlight;
          border-radius: 30px;
          transition: all 300ms ease;
        }

        a:hover {
            background-color: $color__orange-hover;
        }
    }
}

// single work page styles
.single-work-container {
    margin-top: $margin;
    color: $color__text-color-dark-grey;

    .summary-container {
        margin: $margin;
    }

    .project-thumbnail {
        position: relative;
    }

    .view-live a {
        position: absolute;
        right: $padding;
        bottom: $padding;
        font-family: $font__header;
        @include plain-link;
        font-size: $font-xxsmall;
        font-weight: 500;
        color: white;
        background-color: $color__orange-highlight;
        padding: $padding/1.5 $padding*1.5;
        border-radius: 35px;
        transition: all 300ms ease;
    }

    .view-live a:hover {
        background-color: $color__orange-hover;
    }

    .entry-title {
        font-family: $font__header;
        text-transform: uppercase;
        font-size: $font-medium;
    }

    .short-description p {
        font-family: $font__body;
        font-size: $font-small;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }

    .short-description p::after {
        content: "";
        display: block;
        margin-top: $margin;
        width: 60px;
        height: 3px;
        background-color: $color__orange-highlight;
    }

    .tools-used {
        margin: $padding*3 0;

        .tool-container {
            display: flex;
            flex-wrap: wrap;
            max-width: 400px;
        }

        .each-tool {
            min-width: 120px;
            font-family: $font__header;
            text-transform: uppercase;
            font-size: $font-xsmall;    
            font-weight: 500;
            color: $color__text-color-light-grey;
            margin: 8px 0;
        }
    }

    .long-description p {
        margin: $padding auto;
        font-family: $font__body;
        font-size: $font-small;
        font-weight: 400;
        line-height: $font__line-height-body;
    }

    .portfolio-content-block {
        background-color: $color__background-screen;
        margin: $margin*2 auto 200px auto;
        padding: $margin 0 $margin*2 0;
        
        h4 {
            margin: $margin*2 auto;
            font-family: $font__header;
            font-size: $font-medium;
            text-transform: uppercase;
            text-align: center;
        }

        h4::after {
            content: "";
            display: block;
            margin: $padding auto $margin;
            width: 45px;
            height: 3px;
            background-color: $color__orange-highlight;
        }

        p {
            font-family: $font__body;
            font-size: $font-small;
            font-weight: 400;
            line-height: $font__line-height-body;
            margin: $margin;
        }

    }

}



// footer styles

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.site-footer::before {
    border-top: 2px solid rgb(235, 235, 235);
    width: 50px;
    margin: $margin auto;
}

.site-footer {
    color: $color__text-color-dark-grey;
    font-family: $font__header;
    text-transform: uppercase;
    font-size: $font-xxsmall;
    font-weight: 500;
    text-align: center;
    margin-bottom: $margin;

    .social-links {
        a {
            @include plain-link;
            padding: $padding/2;
            color: $color__text-color-dark-grey;
            transition: all 300ms ease;
            height: 20px;
            line-height: 20px;
            display: inline-block;
            vertical-align: middle;
        }
        a:hover {
            color: $color__orange-hover;
        }
    }
}

@media screen and (min-width: $size__phone-inbetween) {
    .project-container {
        .description-container {
            display: flex;
            justify-content: space-between;
        }

        .project-link {
            margin-top: 0;
        }
    }

    .site-footer {
        margin-bottom: 0;
    }

    .site-info {
        display: flex;
        justify-content: space-between;
        max-width: 80%;
        margin: $margin auto;
    }

    .social-links {
        display: flex;
        text-align: center;
        max-width: 500px;
    }

}


@media screen and (min-width: $size__phone-landscape) {
    .site-header,
    .content-area,
    .summary-container,
    .portfolio-content-block p {
        padding: $padding;
    }

    .content-area {
        margin-bottom: 100px;
    }

}

@media screen and (min-width: $size__tablet-portrait) {

    .summary-container {
        .entry-title {
        font-size: $font-large;
        }
    }

    .single-work-container .portfolio-content-block {
        h4 {
            font-size: $font-mediumlarge;
        }
    }

    .project-container .project-link a {
        font-size: $font-xsmall;
        padding: $padding/1.5 $padding*2;
    }

}

@media screen and (min-width: $size__tablet-landscape) {
    .site-header .site-title a {
        font-size: $font-xxlarge;
    }

    .content-area .entry-content {
        max-width: 670px;
        margin: 0 auto;
        text-align: center;
        p {
            font-size: $font-xxlarge;
        }
        
    }

    .single-work-container {
        .view-live a {
            position: absolute;
            right: $margin;
            bottom: $margin;
            @include plain-link;
            font-size: $font-xsmall;
            padding: $padding/1.5 $padding*2;
        }
    }

}

@media screen and (min-width: $size__desktop-regular) {
    .site-header {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .project-intro-container {
        margin: auto 10%;
        padding: 0 $padding;
        .summary-container {
            margin: $margin*2 0;    
            padding: 0;
        }
    }

    .content-area {
        max-width: 80%;
        margin: 0 auto 150px auto;
    }

    .work-page {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .project-container {
            max-width: 45%;
            margin: 2.5% 0 10% 0;

            .description-container {
                display: block;
            }
            .short-description {
                font-size: $font-small;
            }
            .project-link {
                margin-top: $margin;
            }
            .entry-title {
                font-size: $font-medium;
            }
            .short-description {
                font-size: $font-small;
            }
        }
    }

    .summary-container {
        display: flex;
        justify-content: space-between;

        .left-block {
            width: 45%;
            border-right: 2px solid $color__border;
        }
        .right-block {
            width: 50%;
            margin-top: 48px;
        }
    }


    footer p, footer a {
        font-size: $font-xsmall;
    }

    .site-footer .social-links a {
        padding-left: $padding*3;
    }

}

@media screen and (min-width: $size__desktop-large) {

    .project-intro-container {

        .entry-title {
            margin-top: 0;
        }

    }

    .work-page .project-container {

        .description-container {
            display: flex;
            justify-content: space-between;
        }
        .project-link {
            margin-top: 0;
            a {
                font-size: $font-xsmall;
                padding: $padding/1.5 $padding*2;
            }
        }
    } 
}

@media screen and (min-width: $size__desktop-xlarge) {
    .project-intro-container {
        max-width: 80%;
        margin: auto;
        padding: $padding;
        display: flex;
        justify-content: space-between;

        .project-thumbnail {
            width: 45%;
            .view-live a {
                bottom: $padding*3;
                right: $margin;
            }
        }

        .summary-container {
            width: 52%;
            height: 0;
            padding: $padding*3;
            padding-bottom: 26.5%;
            margin: 0 0 auto auto;
            border: 4px solid $color__text-color-dark-grey;

            .tools-used {
                margin: $margin 0;
            }

            .left-block {
                width: 40%;
            }
            .right-block {
                width: 55%;
                margin-top: $margin;
            }
        }
    }  
}

