// main site layout

.site {
    width: 100%;
    min-height: 100vh;
    background-color: $color__background-body;
}

// header styles

.site-header {
    display: flex;
    margin: $margin;
    position: relative;
   
    .menu-toggle, .site-branding {
        flex: 1;
    }
}

.site-branding a {
    font-family: $font__header;
    @include plain-link;
    color: $color__text-color-dark-grey;
}


