// navigation styles






/* Small menu. */
.menu-toggle {
	display: block;
	cursor: pointer;
	position: absolute;
	top: 27px;
	right: 0;
	background-color: transparent;
	border: none;
	width: 28px;
	height: 28px;
	outline: none;

	.bar {
        display: block;
        position: absolute;
        left: 0;
        border-top: 2px solid $color__text-color-dark-grey;
        width: 100%;
        transition: 300ms;   
    }

    .bar-top {
        top: 0;
    }

    .bar-middle {
        top: 10px;
    }

    .bar-bottom {
        top: 20px;
	}

}

.main-navigation.toggled {
	outline: none;

	.bar-top {
        top: 10px;
        transform: rotate(45deg);
	}
	
    .bar-middle {
        opacity: 0;
    }

    .bar-bottom {
        top: 10px;
        transform: rotate(135deg);
    }
}

.main-navigation ul {
	font-family: $font__header;
	list-style: none;
	display: none;

	li a {
		@include plain-link;
		color: $color__text-color-dark-grey;
		font-weight: 600;
	}
}

.main-navigation.toggled ul {
	display: block;
	position: absolute;
	top: 100px;
	right: 0;
	text-align: right;
	z-index: 999;

	li {
		margin-bottom: $padding;
	}
}

@media screen and (min-width: $size__phone-landscape) {
	.menu-toggle {
		display: none;
	}

	// full navgitation menu (not hamburger)
	.main-navigation ul {
		display: flex;
		margin-top: $margin;

		li {
			font-size: $font-small;
			margin-left: $padding;

			a {
				padding: $padding/2 0;
				transition: left 300ms ease;
				position: relative;
			}

			// left to right animation on hover
			a:after {
				content: '';
				position: absolute;
				width: 0;
				height: 2px;
				margin-top: 5px;
				bottom: 0;
				right: 0;
				background-color: $color__orange-highlight;
				transition: width 300ms ease;
			}

			a:hover:after {
				width: 100%;
				left: 0;
				background-color: $color__orange-highlight;
			}

		}
	}
}

@media screen and (min-width: $size__tablet-landscape) {
	.main-navigation ul li a {
		margin-left: $padding;
		padding: $padding/2 0;
	}
}




// .main-navigation {
// 	clear: both;
// 	display: block;
// 	float: left;
// 	width: 100%;

// 	ul {
// 		display: none;
// 		list-style: none;
// 		margin: 0;
// 		padding-left: 0;
// 		max-width: 100%;

// 		ul {
// 			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
// 			float: left;
// 			position: absolute;
// 			top: 100%;
// 			left: -999em;
// 			z-index: 99999;

// 			ul {
// 				left: -999em;
// 				top: 0;

// 			}

// 			li {
// 				&:hover > ul,
// 				&.focus > ul {
// 					left: 100%;
// 				}
// 			}

// 			a {
// 				width: 80px;
// 			}

// 			:hover > a,
// 			.focus > a {
// 			}

// 			a:hover,
// 			a.focus {
// 			}
// 		}

// 		li:hover > ul,
// 		li.focus > ul {
// 			left: auto;
// 		}
// 	}

// 	li {
// 		float: left;
// 		position: relative;
// 	}

// 	a {
// 		display: block;
// 		text-decoration: none;
// 	}

// }

// .comment-navigation,
// .posts-navigation,
// .post-navigation {

// 	.site-main & {
// 		margin: 0 0 1.5em;
// 		overflow: hidden;
// 	}

// 	.nav-previous {
// 		float: left;
// 		width: 50%;
// 	}

// 	.nav-next {
// 		float: right;
// 		text-align: right;
// 		width: 50%;
// 	}
// }
