// navigation styles


/* Small menu. */
.menu-toggle {
	display: block;
	cursor: pointer;
	position: absolute;
	top: 40px;
	right: 0;
	background-color: transparent;
	border: none;
	width: 28px;
	height: 28px;
	z-index: 999;
	transition: opacity 300ms ease;
	outline: none;

	&:hover {
		opacity: 0.7;
	}

	.bar {
        display: block;
        position: absolute;
        left: 0;
        border-top: 3px solid $color__text-color-dark-grey;
        width: 100%;
        transition: 300ms;   
    }

    .bar-top {
        top: 0;
    }

    .bar-middle {
        top: 10px;
    }

    .bar-bottom {
        top: 20px;
	}

}

.main-navigation {
	transition: all 400ms ease;
}

.main-navigation.toggled {
	outline: none;
	margin-bottom: 250px;
	transition: all 300ms ease;

	.bar-top {
        top: 10px;
        transform: rotate(45deg);
	}
	
    .bar-middle {
        opacity: 0;
    }

    .bar-bottom {
        top: 10px;
        transform: rotate(135deg);
    }
}

.main-navigation ul {
	font-family: $font__header;
	list-style: none;
	display: none;

	li a {
		@include plain-link;
		color: $color__text-color-dark-grey;
		font-weight: 600;
	}

	li.active {
		a {
			color: $color__text-color-light-grey;
		}
	}

}

.main-navigation.toggled ul {
	display: block;
	position: absolute;
	top: 100px;
	right: 0;
	text-align: right;
	z-index: 999;

	li {
		margin-bottom: $padding*3;
	}

	a {
		font-size: $font-medium;
		padding: 0 0 0 $padding;
	}

	a:hover {
		border-left: 3px solid $color__orange-highlight;
	}
}

@media screen and (min-width: $size__phone-landscape) {
	.menu-toggle {
		display: none;
	}

	// full navgitation menu (not hamburger)
	.main-navigation ul {
		display: flex;
		margin-top: $margin;

		li {
			font-size: 17px;
			margin-left: $margin;

			a {
				padding: $padding/2 0;
				transition: left 300ms ease;
				position: relative;
			}

			// left to right animation on hover
			a:after {
				content: '';
				position: absolute;
				width: 0;
				height: 3px;
				margin-top: 5px;
				bottom: 0;
				left: 0;
				background-color: $color__orange-highlight;
				transition: width 300ms ease;
			}

			a:hover:after {
				width: 100%;
				background-color: $color__orange-highlight;
			}

		}
	}
}

@media screen and (min-width: $size__tablet-landscape) {
	.main-navigation ul li a {
		margin-left: $padding;
		padding: $padding/2 0;
		font-weight: 700;
	}
}

@media screen and (min-width: $size__desktop-regular){
	.main-navigation ul li a {
		margin-left: $padding*3;
	}
}


