// media query screen sizes

$size__phone-portrait: 420px;
$size__phone-landsccape: 540px;
$size__tablet-portrait: 710px;
$size__tablet-landscape: 880px;
$size__destktop-regular: 1020px;
$size__destkop-large: 1480px;
