// media query screen sizes

$size__phone-portrait: 420px;
$size__phone-inbetween: 530px;
$size__phone-landscape: 635px;
$size__tablet-portrait: 710px;
$size__tablet-landscape: 880px;
$size__desktop-regular: 1020px;
$size__desktop-large: 1480px;
$size__desktop-xlarge: 1748px;
