$font__header: 'brandon-grotesque', Arial, sans-serif;
$font__body: 'Roboto', Arial, sans-serif;
$font__button: 'brandon-grotesque', Arial, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.8;
$font__line-height-pre: 1.6;
$font__line-height-list: 2;

$font-xxlarge: 2.3rem;
$font-xlarge: 2rem;
$font-large: 1.6rem;
$font-mediumlarge: 1.3rem;
$font-medium: 1.1rem;
$font-small: 1.1rem;
$font-xsmall: 14px;
$font-xxsmall: 12px;

